<?xml version="1.0"?>
<robot name="rover" xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="create_link" params="
        link_name
        xyz_offset
        rpy_offset
        mesh_name">
    <link name="${link_name}">
      <visual>
        <origin xyz="${xyz_offset}" rpy="${rpy_offset}"/>
        <geometry>
          <mesh filename="package://rover_bot/meshes/visual/${mesh_name}.dae" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="${xyz_offset}" rpy="${rpy_offset}"/>
        <geometry>
          <mesh filename="package://rover_bot/meshes/collision/${mesh_name}.stl" />
        </geometry>
      </collision>
      <inertial>
        <mass value="0.001"/>
        <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
      </inertial>
    </link>
  </xacro:macro>
</robot>
