controller_manager:
  ros__parameters:
    update_rate: 50 # Hz
    use_sim_time: true

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster
      
    diff_drive_controller:
      type: diff_drive_controller/DiffDriveController

    joint_trajectory_controller:
      type: joint_trajectory_controller/JointTrajectoryController

    # gripper_position_controller:
    #   type: position_controllers/GripperActionController

joint_state_broadcaster:
  ros__parameters:
      use_sim_time: true
      type: joint_state_broadcaster/JointStateBroadcaster
      joints: [left_wheel_joint,right_wheel_joint,joint_1,joint_2,joint_3,joint_4,joint_5,joint_6 ]


diff_drive_controller:
  ros__parameters:
    type: diff_drive_controller/DiffDriveController
    use_sim_time: true
    use_stamped_vel: false #To use Twist instead of TwistStamped
    
    left_wheel_names: ['left_wheel_joint']
    right_wheel_names: ['right_wheel_joint']
    publish_rate: 50.00              # default: 50

    wheel_separation : 0.60
    wheel_radius : 0.085 

    wheel_separation_multiplier: 1.0
    left_wheel_radius_multiplier: 1.0
    right_wheel_radius_multiplier: 1.0

    publish_rate: 50.0
    odom_frame_id: odom
    base_frame_id: chassis
    pose_covariance_diagonal : [0.05, 0.05, 0.01, 0.01, 0.01, 0.05]
    twist_covariance_diagonal: [0.05, 0.05, 0.01, 0.01, 0.01, 0.05]

    odom_topic: "/diff_drive_controller/odom"
    open_loop: false
    enable_odom_tf: true
    publish_limited_velocity: true
    publish_wheel_data: true
    cmd_vel_timeout: 0.5
    #publish_limited_velocity: true
    #velocity_rolling_window_size: 10
    linear.x.has_velocity_limits: true
    linear.x.has_acceleration_limits: true
    linear.x.has_jerk_limits: false
    linear.x.max_velocity: 1.0
    linear.x.min_velocity: -1.0
    linear.x.max_acceleration: 1.0
    linear.x.max_jerk: 0.0
    linear.x.min_jerk: 0.0

    angular.z.has_velocity_limits: true
    angular.z.has_acceleration_limits: true
    angular.z.has_jerk_limits: false
    angular.z.max_velocity: 1.0
    angular.z.min_velocity: -1.0
    angular.z.max_acceleration: 1.0
    angular.z.min_acceleration: -1.0
    angular.z.max_jerk: 0.0
    angular.z.min_jerk: 0.0

joint_trajectory_controller:
  ros__parameters:
    type : joint_trajectory_controller/JointTrajectoryController
    use_sim_time: true
    state_publish_rate: 30.0
    action_monitor_rate: 20.0
    # allow_nonzero_velocity_at_trajectory_end: false

    joints: [joint_1, joint_2 ,joint_3, joint_4 ,joint_5 ,joint_6]
         
    command_interfaces: [position, velocity]
    state_interfaces: [position, velocity]

# gripper_position_controller:
#   ros__parameters:
#     action_monitor_rate: 20.0
#     allow_stalling: true
#     goal_tolerance: 0.01
#     joint: 'robotiq_85_left_knuckle_joint'
#     max_effort: 100.0
#     stall_timeout: 3.0
#     stall_velocity_threshold: 0.001













